#xButton {
    position: absolute;
    left: 120px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    -moz-transform: scale(4);
}

#myInput {
    width: 125px;
}

#myButton {
    cursor: pointer;
}